Config { font = "xft:JetBrainsMono Nerd Font:pixelsize=14:bold"
       , additionalFonts = [
            "xft:FiraCode Nerd Font:pixelsize=14"
           ]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#24273a"
       , fgColor = "#cad3f5"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Network "wlo1" ["-t", "<tx>kb - <rx>kb"] 10
                    , Run Cpu ["-t", "<total>%"] 10
                    , Run Battery [
                        "-t", "<left>%<acstatus>",
                        "-L", "20", "-l", "#ed8796",
                        "--", "-o", " 󱐤 ", "-O", " 󱐥"] 200
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Date "%A %d-%m-%Y" "date" 36000
                    , Run Date "%H:%M" "time" 100
                    , Run Volume "default" "Master" ["-t", "<volume>%"] 10
                    , Run Brightness ["-t", "<percent>%", "--", "-D", "intel_backlight"] 60
                    , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <action=alacritty><fn=1><fc=#ee99a0> </fc></fn></action>\
            \| <fn=1><fc=#8aadf4> </fc></fn> %cpu% \
            \| <fn=1><fc=#f5a97f>󱐌</fc></fn> %battery% \
            \| <fn=1><fc=#a6da95>󰒋</fc></fn> %memory% \
            \| <fn=1><fc=#c6a0f6> </fc></fn>%wlo1% <fn=1><fc=#c6a0f6> </fc></fn> } %StdinReader% { \
            \ <fn=1><fc=#c6a0f6>󰃭 </fc></fn>%date% \
            \| <fn=1><fc=#8aadf4>󰥔 </fc></fn>%time% \
            \| <fn=1><fc=#a6da95> </fc></fn>%default:Master% \
            \| <fn=1><fc=#f5a97f>󰃟 </fc></fn>%bright% "
       }
